# Bazel
bazel-*

# IDE
.idea/
*.iml
.ijwb/

# IDE plugin
target/
Cargo.toml
Cargo.lock

# client
client/node_modules/
client/dist
client/yarn-debug.log*
client/yarn-error.log*
client/webpack.txt
client/.angular/cache
client/.sass-cache/
client/connect.lock
client/coverage
client/libpeerconnection.log
client/testem.log
client/typings
